/*Mulish font from google font*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
/*Mulish font from google font*/
body{
    font-family: 'Mulish', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Header section style start here*/
/*Navbar style start here*/
.nav-container{
    width: 100%;
    max-width: 1170px;
    margin: 50px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-part{
    display: flex;
    align-items: center;
    gap: 16px;
}
.left-part h4{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800; 
}
.right-part{
    display: flex;
    justify-content: space-between;
}
.right-part a{
    text-decoration: none;
    margin-left: 40px;

    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
/*Navbar style end here*/

/*Banner container style start here*/
.banner-container{
    width: 100%;
    max-width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin: 60px auto 100px auto;
    background-image: url(../Images/banner-images.png);
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    justify-content: center;
}
.dropdown-container{
    display: flex;
    gap: 24px;
    background: rgba(252, 252, 252, 0.4);
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    background: rgba(252, 252, 252, 0.4);
    margin: 0 200px;
    
}
.select1, .select2{
    width: 174px;
}
.btn-dropdown{
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    padding-left: 15px;
    width: 174px;
}
.btn-org{
    display: inline-flex;
    flex-direction: row-reverse;
    border-radius: 8px;
    background: #FF5400;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 30px;
    color: #FFF;
    border: 0;
    width: 174px;
}
.banner-title{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    padding-top: 100px;
}
.banner-description{
    max-width: 676px;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}
/*Banner container style start here*/
/*Header section style end here*/

/*Main section style start here*/
/*popular tours section style start here*/
.popular-tours{
    display: flex;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto 100px auto;
    gap: 40px;
}
.popular-title{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.popular-text-container p, ul>li{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 20px;
}
.read-more{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: 0;
}
/*popular tours section style end here*/

/*Choose Destination Section style start here*/
.your-destination{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto 100px auto;
}
.destination-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 24px;
}
.destination-description{
    width: 640px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 0 auto;
    margin-bottom: 40px;
}
.container{
    position: relative;
}
.maldives{
    position: absolute;
    color: #FFF;
    font-size: 28px;
    font-family: Mulish;
    font-weight: 800;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.indonesia{
    position: absolute;
    color: #FFF;
    font-size: 28px;
    font-family: Mulish;
    font-weight: 800;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.srilanka{
    position: absolute;
    color: #FFF;
    font-size: 28px;
    font-family: Mulish;
    font-weight: 800;
    top: 50%;
    left: 16%;
    transform: translate(-50%, -50%);
}
.northamerica{
    position: absolute;
    color: #FFF;
    font-size: 28px;
    font-family: Mulish;
    font-weight: 800;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
}
.kashmir{
    position: absolute;
    color: #FFF;
    font-size: 28px;
    font-family: Mulish;
    font-weight: 800;
    top: 50%;
    left: 88.5%;
    transform: translate(-50%, -50%);
}
.bangladesh{
    position: absolute;
    color: #FFF;
    font-size: 28px;
    font-family: Mulish;
    font-weight: 800;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.bandarban{
    position: absolute;
    color: #FFF;
    font-size: 28px;
    font-family: Mulish;
    font-weight: 800;
    top: 50%;
    left: 71%;
    transform: translate(-50%, -50%);
}
.three-image, .two-image, .two-image-again{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
/*Choose Destination Section style end here*/

/*why choose us section style start here*/
.why-chose-us-container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.why-chose-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.why-chose-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 550px;
    margin: 24px auto 48px auto;
}
.chose-card-container{
    display: flex;
    margin: 0 auto;
    gap: 24px;
}
.card-left{
    max-width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}
.card-right{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 30px;
}
.card-middle{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 30px;
    margin: 24px auto 100px auto;
}
.card-title{
    color: #131318;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 800;
}
.card-description{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
/*why choose us section style end here*/

/*Extra section added from me style start here*/
.extra-section{
    width: 960px;
    margin: 0 auto 100px auto;
}
.extra-heading{
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 120px 0 50px 0;
}
.image-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.common-card{
    width: 288px;
    height: 470px;
    padding: 16px 14px;

    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.tour-title{
    color: #18191F;
    font-feature-settings: 'liga' off;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 500;
    margin-top: 14px;
    margin-bottom: 5px;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
}
.card-price{
    color: rgba(0, 0, 0, 0.87);
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}
.card-rating{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: center;
}
.rating-point{
    color: #5E6366;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
}
.tour-description{
    color: #787885;
    font-family: Mulish;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%; /* 20.02px */
    letter-spacing: 0.252px;
    width: 80%;
    margin: 0 auto;
}
/*Extra section added from me style end here*/

/*Deasl & Discount section start here*/
/*Deasl & Discount section end here*/

/*perfect place section style start here*/
/*perfect place section style end here*/

/*News Letter Section style start here*/
.news-letter{
    display: flex;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto 100px auto;
}
.text-part{
    width: 474px;
    height: 422px;
}
.newsletter-title{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}
.newletter-description{
    width: 350px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 48px;
}
.contact input{
    display: block;
    margin-bottom: 20px;
    padding: 16px 20px;
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
}
.image-part{
    width: 672px;
    height: 422px;
    border-radius: 16px;
    background: url(../Images/Rectangle3.png);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
}
.text-on-image{
    position: absolute;
    width: 280px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    top: 260px;
    left: 385px;
}
.text-on-image p{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
}
.text-on-image h6{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}
/*News Letter Section style end here*/
/*Main section style end here*/

/*Footer section style start here*/
footer{
    width: 100%;
    max-width: 14400px;
    background: rgba(19, 19, 24, 0.05);
}
.footer-container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.footer-logo-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
.footer-title{
    color: #131318;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}
.footer-description{
    width: 769px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 15px auto 30px auto;
}
.social-icon{
    text-align: center;
    width: 180px;
    height: 30px;
    margin: 0 auto;
}
.social-icon img{
    padding-right: 20px;
}
hr{
    width: 800px; 
    height: 1px; 
    margin: 30px auto;
    background: rgba(19, 19, 24, 0.10);
}
.copyright{
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 60px;
}
/*Footer section style end here*/